@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Prevent scrolling on main body, handle in components */
}

body {
  background-color: #d1d7db;
  /* Outer background for desktop view */
  font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #111b21;
}

.dark body {
  background-color: #0b141a;
  /* whatsapp-darker */
  color: #e9edef;
  /* Light text for dark mode */
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0.1);
}

/* Chat Doodle Pattern Simulation */
.bg-chat-pattern {
  background-image: radial-gradient(#4a5568 1px, transparent 1px);
  background-size: 20px 20px;
}

/* Remove scrollbar for clean UI but keep functionality */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}